// colors
$color-1: #F6F4F6;
$color-2: #C1B8C3;
$color-3: #908394;
$color-4: #655C68;
$color-5: #3A353B;

$color-grey-dark: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d6d6d6;

$color-white: #fff;
$color-black: #000;

//grid-test
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;

//fonts
$default-font-size: 1.6rem;

$font-primary-heading: 'Bookman Old Style';
$font-primary-sub: 'Kalam', cursive;

$font-feature-heading: 'Cinzel', serif;
$font-feature-sub: 'Shadows Into Light', cursive;

$font-person: 'Handlee', cursive;

$font-tags: 'Shadows Into Light', cursive;

$font-form-fieldname: 'Bookman Old Style'; // 'Kalam', cursive;

$font-handwriting-1: 'EB Garamond', serif;
$font-handwriting-2: 'Shadows Into Light', cursive;
