<div class="u-margin-top-medium">
  <h1 class="heading">
    <span class="heading-feature">Goals</span>
    <span class="heading-feature--fsub">never loose track</span>
    <a href="/"> <span class="heading-feature--home"><i class="fas fa-home"></i></span></a>
  </h1>
</div>

<div class="nav--feature u-margin-top-medium">
  <a href="/goals/add">
    <div class="nav--tag">
      <h1 class="nav--tag-text">Add</h1>
    </div>
  </a>
  <a href="/goals/list">
    <div class="nav--tag">
      <h1 class="nav--tag-text">List</h1>
    </div>
  </a>
</div>
