<div class="container">
  <div class="header__textBox u-margin-top-medium">
    <p class="heading-primary">
      <span class="heading-primary--main">Life Coach</span>
      <span class="heading-primary--sub">for a healthier You</span>
    </p>
  </div>
