<div class="u-margin-top-medium">
  <h1 class="heading">
    <span class="heading-feature">Planner</span>
    <span class="heading-feature--fsub">Planning for a better future</span>
    <a href="/"> <span class="heading-feature--home"><i class="fas fa-home"></i></span></a>
  </h1>
</div>

<div class="nav--feature u-margin-top-medium">
  <a href="/planner/add">
    <div class="nav--tag">
      <h1 class="nav--tag-text">Add</h1>
    </div>
  </a>
  <a href="/planner/view">
    <div class="nav--tag">
      <h1 class="nav--tag-text">View</h1>
    </div>
  </a>
</div>
