<div class="u-margin-top-medium">
  <h1 class="heading">
    <span class="heading-feature">Progress</span>
    <span class="heading-feature--fsub">Manage and monitor</span>
    <a href="/"> <span class="heading-feature--home"><i class="fas fa-home"></i></span></a>
  </h1>
</div>

<div class="nav--feature u-margin-top-medium">
  <a href="/progress">
    <div class="nav--tag">
      <h1 class="nav--tag-text">Weight</h1>
    </div>
  </a>
  <a href="/progress">
    <div class="nav--tag">
      <h1 class="nav--tag-text">Nutrition</h1>
    </div>
  </a>

</div>
