<div class="u-margin-top-medium">
  <h1 class="heading">
    <span class="heading-feature">Recipes</span>
    <span class="heading-feature--fsub">Storing all the goodness</span>
    <a routerLink="/"> <span class="heading-feature--home"><i class="fas fa-home"></i></span></a>
  </h1>
</div>

<!-- <div class="nav--feature u-margin-top-medium">
  <a routerLink="/recipes/add">
    <div class="nav--tag">
      <h1 class="nav--tag-text">Add Recipe</h1>
    </div>
  </a>
  <a routerLink="/recipes/list">
    <div class="nav--tag">
      <h1 class="nav--tag-text">Recipes</h1>
    </div>
  </a>
</div> -->
