<div class="u-margin-top-medium">
  <h1 class="heading">
    <span class="heading-feature">todo's</span>
    <span class="heading-feature--fsub">what where when</span>
    <a href="/"> <span class="heading-feature--home"><i class="fas fa-home"></i></span></a>
  </h1>
</div>

<div class="nav--feature u-margin-top-medium">

  <a href="/todos/add">
    <div class="nav--tag">
      <h1 class="nav--tag-text">New</h1>
    </div>
  </a>
  <a href="/todos/list">
  <div class="nav--tag">
    <h1 class="nav--tag-text">List</h1>
  </div>
</a>

</div>
