
<a href="/weight/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-balance-scale"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Weight</h4>
    </div>
  </div>
</a>
<a href="/profile/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="far fa-user"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Profile</h4>
    </div>
  </div>
</a>
<a href="/meals/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-utensils"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Meals</h4>
    </div>
  </div>
</a>
<a href="/measurements/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
      <i class="fas fa-tape"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Measure-me</h4>
    </div>
  </div>
</a>

<a href="/recipes/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-book"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Recipes</h4>
    </div>
  </div>
</a>
<a href="/planner/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-th-list"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Planner</h4>
    </div>
  </div>
</a>
<a href="/exercises/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-dumbbell"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Exercises</h4>
    </div>
  </div>
</a>
<a href="/todos/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-list-ol"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">To Do's</h4>
    </div>
  </div>
</a>
<a href="/progress">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-chart-line"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Progress</h4>
    </div>
  </div>
</a>
<a href="/goals/add">
  <div class="card u-margin-top-medium">
    <div class="card__icon">
        <i class="fas fa-trophy"></i>
    </div>
    <div class="card__header">
      <h4 class="heading-primary--card">Goals</h4>
    </div>
  </div>
</a>
<a href="/friends">
    <div class="card u-margin-top-medium">
      <div class="card__icon">
          <i class="fas fa-user-friends"></i>
      </div>
      <div class="card__header">
        <h4 class="heading-primary--card">Friends</h4>
      </div>
    </div>
  </a>
</div>
