{{> _mealsNav}}




<div class="form">


    <div class="food--card">
      <div class="page">
        <div class="page--header">
          <p>26-06-2018</p>
        </div>

        <div class="page--row  u-padding-bottom-small">
          <div class="page--text">
            <p>breakfast</p>
          </div>
          <div class="page--text-info">
            <p>Scramble eggs x2</p>
            <p>Bacon x4</p>
            <p>Toast x2</p>
          </div>
        </div>

        <div class="page--row">
          <div class="page--text">
            <p>lunch</p>
          </div>
          <div class="page--text-info">
          </div>
        </div>

        <div class="page--row">
          <div class="page--text">
            <p>dinner</p>
          </div>
          <div class="page--text-info">
          </div>
        </div>

        <div class="page--row">
          <div class="page--text">
            <p>snack</p>
          </div>
          <div class="page--text-info">
          </div>
        </div>

      </div>
    </div>

    <div class="food--card">
      <div class="page">
        <div class="page--header">
          <p>26-06-2018</p>
        </div>

        <div class="page--row  u-padding-bottom-small">
          <div class="page--text">
            <p>breakfast</p>
          </div>
          <div class="page--text-info">
            <p>Scramble eggs x2</p>
            <p>Bacon x4</p>
            <p>Toast x2</p>
          </div>
        </div>

        <div class="page--row">
          <div class="page--text">
            <p>lunch</p>
          </div>
          <div class="page--text-info">
          </div>
        </div>

        <div class="page--row">
          <div class="page--text">
            <p>dinner</p>
          </div>
          <div class="page--text-info">
          </div>
        </div>

        <div class="page--row">
          <div class="page--text">
            <p>snack</p>
          </div>
          <div class="page--text-info">
          </div>
        </div>

      </div>
    </div>

</div>
</div>
