
{{> _todoNav}}



<div class="page">
  <div class="page--row">
      <ol class="page--row-ol">
        <li class="page--row-ol_item">2018-01-26   62 kg</li>
        <li class="page--row-ol_item">2018-05-21   57 kg</li>
        <li class="page--row-ol_item">2018-03-16   59 kg</li>
        <li class="page--row-ol_item">2018-04-18   58 kg</li>
        <li class="page--row-ol_item">2018-05-21   57 kg</li>
        <li class="page--row-ol_item">2018-06-19   56 kg</li>
      </ol>
  </div>
</div>

</div>
