.error {

  &--box{
    margin: auto;
    display: block;
    border: 1px solid red;
    background: radial-gradient($color-1, #f0dbdb);
    width: 50%;
    padding: 1.5rem;
    border-radius: 4px;
    margin-bottom: .5rem;
    &-msg{
      text-transform: capitalize;
      font-family: $font-feature-heading;
      font-size: 2rem;
      color: red;
      font-weight: 600;
    }
  }
}
