
{{> _profileNav}}



<div class="page">
  <div class="page--row ">
    <h1 class="page--header  u-centre">Annette</h1>
  </div>
  <div class="page--row">
    <p class="page--text">Age : </p><p class="page--text-info"> 43</p>
  </div>
  <div class="page--row">
    <p class="page--text">Height : </p><p class="page--text-info"> 68.5cm</p>
  </div>
  <div class="page--row">
    <p class="page--text">Current Weight : </p><p class="page--text-info"> 56.5kg</p>
  </div>
  <div class="page--row">
    <p class="page--text">Weight Loss : </p><p class="page--text-info"> 5.5kg</p>
  </div>
  <div class="page--row">
    <p class="page--text">BMI : </p><p class="page--text-info"> 19</p>
  </div>
  <div class="page--row">
    <p class="page--text">Activity level : </p><p class="page--text-info"> Moderatly Active</p>
  </div>
  <div class="page--row">
    <p class="page--text">Gender : </p><p class="page--text-info"> Female</p>
  </div>






</div>

</div>
