{{> _mealsNav}}

<div class="form">
  <div class="page">
    <div class="page--row">
        <ol class="page--row-ol">
          <li class="page--row-ol_item">Oats<p>Per 278g - Calories: 173kcal | Fat: 2.84g | Carbs: 30.16g | Protein: 7.21g</p></li>
          <li class="page--row-ol_item">Pork Tjop<p>Per 100g - Calories: 218kcal | Fat: 15.82g | Carbs: 0.00g | Protein: 17.66g</p></li>
          <li class="page--row-ol_item">Mixed rice<p>Per 162g - Calories: 161kcal | Fat: 2.22g | Carbs: 31.06g | Protein: 4.12g</p></li>
          <li class="page--row-ol_item">Chicken a'la King<p>Per 399g - Calories: 666kcal | Fat: 33.84g | Carbs: 59.81g | Protein: 29.05g</p></li>
          <li class="page--row-ol_item">spaghetti bolognese<p>Per 1005g - Calories: 1470kcal | Fat: 51.38g | Carbs: 182.79g | Protein: 71.58g</p></li>
          <li class="page--row-ol_item">Chicken wraps<p>Per 1 serving - Calories: 740kcal | Fat: 42.00g | Carbs: 62.00g | Protein: 28.00g</p></li>
        </ol>
    </div>
  </div>
</div>
